body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #081221;
}

.container {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

.containerBody {
  width: 900px;
  margin-top: 50px;
}

.content {
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  background-color: #0e1a2b;

  color: #c1d1e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-1 {
  width: 200px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(57, 132, 146, 1) 0%,
    rgba(138, 47, 120, 1) 93%
  );
}

.box-2 {
  width: 650px;
  height: 100%;
}

.box-2 span {
  color: rgb(236, 229, 229);
  background-color: #6c70ed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.box-2-content {
  width: 100%;
  display: flex;
}

.sideBar {
  background-color: #11142c;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 30px;
}

.inputDiv {
  width: 100%;
  display: flex;
  color: #c1d1e8;
  flex-direction: column;
}

h3 {
  color: #ffffff;
}

.inputDiv input {
  width: 100%;
  height: 40px;
  color: #cac5bf;
  border: 0;
  background-color: #1e2249;
  margin-top: 15px;
  margin-bottom: 15px;
}

input::placeholder {
  color: #cac5bf;
}

label {
}
.inputDiv select {
  width: 100%;
  height: 45px;
  border: 0;
  color: #cac5bf;
  background-color: #1e2249;
  margin-top: 15px;
}

.fa-arrow-up {
  width: 40px;
  height: 44px;
  position: relative;
  top: -44px;
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: #5692e8;
}
button {
  padding: 10px 10px;
  color: #ffffff;
  background-color: #5692e8;
  border: 0;
  width: 60px;
  float: right;
  margin-bottom: 15px;
  margin-top: 0px;
  position: relative;
  top: -25px;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .containerBody {
    width: 100%;
  }

  .content {
    width: 350px;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
    color: #c1d1e8;
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .box-1 {
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .box-2 {
    width: 350px;
    height: 100%;
  }

  .box-2 span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .box-2-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-2-content p {
    width: 300px !important;
  }

  .sideBar {
    margin: auto;
  }
}
